* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #eef2f7;
  overflow-x: hidden;
}

/* LAYOUT */
.wrapper {
  display: flex;
  max-width: 1070px;
  margin: 0;

}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: linear-gradient(180deg,#0f4c81,#0b3c64);
  color: white;
  padding: 25px;
  flex-shrink: 0;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 14px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  opacity: 0.85;
  white-space: nowrap;
  
}
.sidebar ul li a{
  display: block;
  text-decoration: none;
  position: relative;
  color: #fff;
}

.sidebar li.active {
  background: rgba(255,255,255,0.15);
  border-radius: 8px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}
/* Topbar */
.topbar {
  height: 60px;
  background: linear-gradient(180deg,#0f4c81,#0b3c64);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
}

.topbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* FILTER */
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.filter-bar select {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.date-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.date-nav button {
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

/* STATS */
.stats {
  display: grid;
   grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.stat {
  padding: 22px;
  border-radius: 14px;
  color: white;
  font-size: 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.stat span {
  display: block;
  font-size: 13px;
  opacity: 0.9;
}

/* COLORS */
.green { background: linear-gradient(135deg,#3bb78f,#0bab64); }
.blue { background: linear-gradient(135deg,#3a7bd5,#00d2ff); }
.orange { background: linear-gradient(135deg,#f7971e,#ffd200); }
.purple { background: linear-gradient(135deg,#7f00ff,#e100ff); }

/* CHARTS */
.charts {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  gap: 5px;
}

.box {
  background:white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 22px rgba(0,0,0,0.08);
  
}

.full {
  margin-top: 20px;
}
.box_full {
  display: grid;
  background-color: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 22px rgba(0,0,0,0.08);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  margin-top: 20px;

}