* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #eef2f7;
}

.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: linear-gradient(180deg,#0b3558,#164c7e);
  color: #fff;
  padding: 20px;
  white-space: nowrap;

  
  
}
.sidebar ul{
  list-style: none;
}
.sidebar ul li {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar ul li a{
  display: block;
  text-decoration: none;
  position: relative;
  color: #fff;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background:#1f6fa7;
}

.sidebar i {
  margin-right: 10px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}
.topbar {
  height: 60px;
  background: linear-gradient(180deg,#0b3558,#164c7e);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
   margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
}

.topbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* HEADER */
.top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.status {
  background: #2ecc71;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,.05);
}

.card h3 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type=range] {
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ddd;
}

button.on {
  background: #2e86de;
  color: #fff;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.temp button {
  width: 40px;
}

.image img {
  width: 100%;
  border-radius: 12px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.big {
  font-size: 28px;
  font-weight: bold;
}

.secure {
  color: green;
  font-weight: bold;
}

.danger-btn {
  background: #e74c3c;
  color: white;
}

.back {
  margin-top: 20px;
  width: 100%;
  background: #1f6fa7;
  color: white;
  padding: 12px;
  border-radius: 10px;
}
