*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI,Arial}

body{background:#eef1f6}

/* APP */
.app{display:flex;height:100vh}

/* SIDEBAR */
.sidebar{
  width:240px;
  background:linear-gradient(180deg,#1e4f86,#163a61);
  color:#fff;
  padding:20px
}
.logo{font-weight:700;margin-bottom:30px}

nav a{
  align-items:center;
  gap:12px;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
  color: #fff;
  display: block;
  text-decoration: none;
  position: relative;
  
}
nav a.active, nav a:hover{
  background:rgba(255,255,255,.15)
}

/* MAIN */
.main{flex:1}

/* TOPBAR */
.topbar{
  height:60px;
  background:linear-gradient(90deg,#1e4f86,#3c6ea5);
  color:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 25px
}
.user{display:flex;align-items:center;gap:10px}
.user img {
    border-radius:50%;
    max-height: 40px;
    display: block;
    margin: 0 auto;
    height: auto;
}
.notif{
  background:red;
  font-size:12px;
  padding:2px 6px;
  border-radius:50%
}

/* PAGE */
.page{padding:25px}
.page h1{
    margin-bottom:10px;
    margin-top: 0;
    font-size: 16px;
}

/* TOP ROW */
.top-row{
  display:flex;
  gap:20px;
  margin-bottom:25px
}
.alert-summary{
  background:#ef4444;
  color:#fff;
  padding:5px;
  border-radius:12px;
  display:flex;
  gap:15px;
  width:260px
}
.tabs{
  flex:1;
  background:#fff;
  border-radius:12px;
  display:flex;
  padding:15px;
}
.tabs button{
  flex:1;
  border:none;
  background:none;
  padding:10px;
  cursor:pointer;
  border-radius:8px
}
.tabs button.active{
  background:#eef2f7;
  font-weight:600
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:20px
}
.card{
  background:#fff;
  border-radius:14px;
  padding:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.08)
}
.card.full{grid-column:1/3}

/* ALERTS */
.alert-item{
  display:flex;
  gap:15px;
  align-items:flex-start;
  margin-top:20px
}
.alert-item i{font-size:20px}
.btn{
  margin-left:auto;
  border:none;
  padding:8px 14px;
  border-radius:8px;
  color:#fff;
  cursor:pointer
}
.red{background:#ef4444}
.yellow{background:#f59e0b}
.blue{background:#3b82f6}

/* REQUEST */
.request{
  display:flex;
  gap:15px;
  margin-top:20px;
  align-items:center
}
.status{
  margin-left:auto;
  padding:6px 10px;
  border-radius:8px;
  font-size:13px
}
.progress{background:#fde68a}
.pending{background:#bfdbfe}

/* ACTIVITY */
.activity{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
  color:#334155
}

