* {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

@media(max-width: 600px){

body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #1f4f8b, #2f6db5);
  color: white;
  padding: 10px;
  margin-left: -40px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}
.sidebar ul li a{
  display: block;
  text-decoration: none;
  position: relative;
  color: #fff;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  white-space:nowrap;
}

.sidebar li i {
  margin-right: 10px;
}

.sidebar li:hover,
.sidebar .active {
  background: rgba(255,255,255,0.15);
}

/* Main */
.main {
  flex: 1;
}

/* Topbar */
.topbar {
  height: 60px;
  background: linear-gradient(90deg, #1f4f8b, #3a78c2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.topbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Content */
.content {
  padding: 30px;
}

.content h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 15px;
}

/* Card */
.card {
  background: #fdfefe;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Form */
.form-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.form-row select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Dates */
.date-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.date-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-box input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 14px;
}

.btn-generate {
  background: linear-gradient(90deg, #2bbbad, #20a39e);
  color: white;
}

.export-buttons {
  display: flex;
  gap: 15px;
}

.btn-pdf {
  background: #eef1f5;
  color: #c0392b;
  border: 1px solid #ccc;
}

.btn-excel {
  background: linear-gradient(90deg, #2bbbad, #20a39e);
  color: white;
}
